################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
/.gitignore
/SGA_POO/SGA_POO.Negocio/bin/Debug/net8.0/SGA_POO.Negocio.dll
/SGA_POO/SGA_POO.Negocio/bin/Debug/net8.0/SGA_POO.Negocio.pdb
/SGA_POO/.vs/SGA_POO/copilot-chat/0ae43c48/sessions/39866089-261a-430c-aabc-4b7c922a38b5
/SGA_POO/.vs/SGA_POO/CopilotIndices/17.13.431.34963/CodeChunks.db
/SGA_POO/.vs/SGA_POO/CopilotIndices/17.13.431.34963/CodeChunks.db-shm
/SGA_POO/.vs/SGA_POO/CopilotIndices/17.13.431.34963/CodeChunks.db-wal
/SGA_POO/.vs/SGA_POO/CopilotIndices/17.13.431.34963/SemanticSymbols.db
/SGA_POO/.vs/SGA_POO/CopilotIndices/17.13.431.34963/SemanticSymbols.db-shm
/SGA_POO/.vs/SGA_POO/CopilotIndices/17.13.431.34963/SemanticSymbols.db-wal
/SGA_POO/.vs/SGA_POO/DesignTimeBuild/.dtbcache.v2
/SGA_POO/.vs/SGA_POO/FileContentIndex/2586f58b-4068-480e-ae09-0e8d0381db26.vsidx
/SGA_POO/.vs/SGA_POO/FileContentIndex/3b8d8915-fad9-403b-b038-5bb881ac3b57.vsidx
/SGA_POO/.vs/SGA_POO/FileContentIndex/661be39a-56b5-4215-a94c-079dcf8f928e.vsidx
